In [6]:
import pandas as pd

In [3]:
df_2011 = pd.read_excel("./2011.xls")

In [4]:
df_2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3349 entries, 0 to 3348
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DISTRITO                  3348 non-null   object
 1   BARRIO                    3347 non-null   float64
 2   SECCION                   3347 non-null   float64
 3   MESA                      3347 non-null   object
 4   CENSO                     3347 non-null   float64
 5   ABSTENCION                3347 non-null   float64
 6   TOTAL                     3347 non-null   float64
 7   NULOS                     3347 non-null   float64
 8   TOTAL NO NULOS            3347 non-null   float64
 9   BLANCO                    3347 non-null   float64
 10  TOTAL NO NULOS NO BLANCO  3347 non-null   float64
 11  PP                        3347 non-null   float64
 12  PSOE                      3347 non-null   float64
 13  IU-LV                     3347 non-null   float64
 14  UPyD                      3347 non-null   float64
 15  ULEG                      3347 non-null   float64
 16  SAIn                      3347 non-null   float64
 17  FE                        3347 non-null   float64
 18  CENB                      3347 non-null   float64
 19  PUM+J                     3347 non-null   float64
 20  PCAS                      3347 non-null   float64
 21  AES                       3347 non-null   float64
 22  CIUDADANOS                3347 non-null   float64
 23  ECOLO                     3347 non-null   float64
 24  PACMA                     3347 non-null   float64
 25  PH                        3347 non-null   float64
 26  CYD                       3347 non-null   float64
 27  PCPE                      3347 non-null   float64
 28  CDL                       3347 non-null   float64
dtypes: float64(27), object(2)
memory usage: 758.9+ KB

In [6]:
df_2011 = df_2011.dropna(subset=['TOTAL'])

In [8]:
df_2011 = df_2011.apply(pd.to_numeric, errors='coerce').astype('Int64')
df_2011

,DISTRITO,BARRIO,SECCION,MESA,CENSO,ABSTENCION,TOTAL,NULOS,TOTAL NO NULOS,BLANCO,...,PUM+J,PCAS,AES,CIUDADANOS,ECOLO,PACMA,PH,CYD,PCPE,CDL
0,1,11,1,<NA>,845,285,560,11,549,16,...,1,0,0,4,0,0,0,0,0,0
1,1,11,2,<NA>,577,219,358,9,349,10,...,0,0,0,0,0,0,0,0,0,1
2,1,11,3,<NA>,517,176,341,5,336,8,...,1,0,1,0,0,0,0,0,0,0
3,1,11,3,<NA>,558,198,360,11,349,10,...,0,1,0,0,0,0,0,0,0,0
4,1,11,4,<NA>,901,286,615,6,609,15,...,1,0,6,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3342,21,215,25,<NA>,686,235,451,4,447,18,...,0,0,2,1,0,0,1,1,0,0
3343,21,215,25,<NA>,682,229,453,5,448,10,...,0,0,0,0,0,0,0,1,0,0
3344,21,215,27,<NA>,735,170,565,8,557,8,...,0,0,1,0,0,0,0,0,0,1
3345,21,215,27,<NA>,832,186,646,4,642,14,...,0,0,2,0,0,0,0,0,0,0
3346,21,215,29,<NA>,882,199,683,2,681,13,...,2,1,4,0,0,0,0,0,0,0

In [9]:
df_2011.columns.to_list()

['DISTRITO',
 'BARRIO',
 'SECCION',
 'MESA',
 'CENSO',
 'ABSTENCION',
 'TOTAL',
 'NULOS',
 'TOTAL NO NULOS',
 'BLANCO',
 'TOTAL NO NULOS NO BLANCO',
 'PP',
 'PSOE',
 'IU-LV',
 'UPyD',
 'ULEG',
 'SAIn',
 'FE',
 'CENB',
 'PUM+J',
 'PCAS',
 'AES',
 'CIUDADANOS',
 'ECOLO',
 'PACMA',
 'PH',
 'CYD',
 'PCPE',
 'CDL']

In [10]:
df_2011 = df_2011[[
 'BARRIO',
 'CENSO',
 'ABSTENCION',
 'TOTAL',
 'NULOS',
 'TOTAL NO NULOS',
 'BLANCO',
 'TOTAL NO NULOS NO BLANCO',
 'PP',
 'PSOE',
 'IU-LV',
 'UPyD',
 'ULEG',
 'SAIn',
 'FE',
 'CENB',
 'PUM+J',
 'PCAS',
 'AES',
 'CIUDADANOS',
 'ECOLO',
 'PACMA',
 'PH',
 'CYD',
 'PCPE',
 'CDL']]
df_2011

,BARRIO,CENSO,ABSTENCION,TOTAL,NULOS,TOTAL NO NULOS,BLANCO,TOTAL NO NULOS NO BLANCO,PP,PSOE,...,PUM+J,PCAS,AES,CIUDADANOS,ECOLO,PACMA,PH,CYD,PCPE,CDL
0,11,845,285,560,11,549,16,533,306,113,...,1,0,0,4,0,0,0,0,0,0
1,11,577,219,358,9,349,10,339,142,94,...,0,0,0,0,0,0,0,0,0,1
2,11,517,176,341,5,336,8,328,172,89,...,1,0,1,0,0,0,0,0,0,0
3,11,558,198,360,11,349,10,339,175,84,...,0,1,0,0,0,0,0,0,0,0
4,11,901,286,615,6,609,15,594,312,121,...,1,0,6,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3342,215,686,235,451,4,447,18,429,268,72,...,0,0,2,1,0,0,1,1,0,0
3343,215,682,229,453,5,448,10,438,274,83,...,0,0,0,0,0,0,0,1,0,0
3344,215,735,170,565,8,557,8,549,394,72,...,0,0,1,0,0,0,0,0,0,1
3345,215,832,186,646,4,642,14,628,434,79,...,0,0,2,0,0,0,0,0,0,0
3346,215,882,199,683,2,681,13,668,467,90,...,2,1,4,0,0,0,0,0,0,0

In [11]:
df_2011['Year'] = 2011
df_2011

/tmp/ipykernel_3168/2794409650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2011['Year'] = 2011

,BARRIO,CENSO,ABSTENCION,TOTAL,NULOS,TOTAL NO NULOS,BLANCO,TOTAL NO NULOS NO BLANCO,PP,PSOE,...,PCAS,AES,CIUDADANOS,ECOLO,PACMA,PH,CYD,PCPE,CDL,Year
0,11,845,285,560,11,549,16,533,306,113,...,0,0,4,0,0,0,0,0,0,2011
1,11,577,219,358,9,349,10,339,142,94,...,0,0,0,0,0,0,0,0,1,2011
2,11,517,176,341,5,336,8,328,172,89,...,0,1,0,0,0,0,0,0,0,2011
3,11,558,198,360,11,349,10,339,175,84,...,1,0,0,0,0,0,0,0,0,2011
4,11,901,286,615,6,609,15,594,312,121,...,0,6,0,1,0,0,0,0,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3342,215,686,235,451,4,447,18,429,268,72,...,0,2,1,0,0,1,1,0,0,2011
3343,215,682,229,453,5,448,10,438,274,83,...,0,0,0,0,0,0,1,0,0,2011
3344,215,735,170,565,8,557,8,549,394,72,...,0,1,0,0,0,0,0,0,1,2011
3345,215,832,186,646,4,642,14,628,434,79,...,0,2,0,0,0,0,0,0,0,2011
3346,215,882,199,683,2,681,13,668,467,90,...,1,4,0,0,0,0,0,0,0,2011

In [12]:
df_2011 = df_2011.rename(columns={'BARRIO': 'Barrio', 'CENSO':'Censo', 'ABSTENCION': 'Abstención',
                                 'TOTAL': 'Total', 'NULOS': 'Nulos', 'TOTAL NO NULOS': 'Total no nulos',
                                 'BLANCO': 'Blanco', 'TOTAL NO NULOS NO BLANCO': 'Total no nulos no blancos'})

In [98]:
df_2015 = pd.read_excel("./2015.xls")

In [99]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3356 entries, 0 to 3355
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Distrito                   3355 non-null   object
 1   Barrio                     3353 non-null   float64
 2   Sección                    3353 non-null   float64
 3   Mesa                       3353 non-null   object
 4   Censo                      3353 non-null   float64
 5   Abstención                 3353 non-null   float64
 6   Total                      3353 non-null   float64
 7   Nulos                      3353 non-null   float64
 8   Total no nulos             3353 non-null   float64
 9   Blanco                     3353 non-null   float64
 10  Total no nulos no blancos  3353 non-null   float64
 11  PP                         3353 non-null   float64
 12  PSOE                       3353 non-null   float64
 13  PODEMOS                    3353 non-null   float64
 14  CIUDADANOS                 3353 non-null   float64
 15  IUCM-LV                    3353 non-null   float64
 16  UPyD                       3353 non-null   float64
 17  ESPAÑA 2000                3353 non-null   float64
 18  AES                        3353 non-null   float64
 19  ULEG                       3353 non-null   float64
 20  PCAS-TC                    3353 non-null   float64
 21  PLIB                       3353 non-null   float64
 22  LA COALICION NACIONAL      3353 non-null   float64
 23  SAIN                       3353 non-null   float64
 24  PH                         3353 non-null   float64
 25  PCPE                       3353 non-null   float64
 26  FE DE LAS JONS             3353 non-null   float64
 27  PACMA                      3353 non-null   float64
 28  RECORTES CERO              3353 non-null   float64
 29  VOX                        3353 non-null   float64
dtypes: float64(28), object(2)
memory usage: 786.7+ KB

In [100]:
df_2015 = df_2015.dropna(subset=['Total'])

In [101]:
df_2015

,Distrito,Barrio,Sección,Mesa,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,...,PCAS-TC,PLIB,LA COALICION NACIONAL,SAIN,PH,PCPE,FE DE LAS JONS,PACMA,RECORTES CERO,VOX
0,1,11.0,1.0,U,847.0,267.0,580.0,1.0,579.0,4.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,6.0,0.0,11.0
1,1,11.0,2.0,U,640.0,222.0,418.0,1.0,417.0,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0,0.0,2.0
2,1,11.0,3.0,A,584.0,215.0,369.0,3.0,366.0,4.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,0.0,8.0
3,1,11.0,3.0,B,521.0,196.0,325.0,4.0,321.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0
4,1,11.0,4.0,U,938.0,262.0,676.0,4.0,672.0,5.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,3.0,1.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3348,21,215.0,27.0,A,873.0,195.0,678.0,2.0,676.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,7.0
3349,21,215.0,27.0,B,800.0,151.0,649.0,4.0,645.0,8.0,...,1.0,2.0,1.0,0.0,0.0,0.0,1.0,3.0,1.0,13.0
3350,21,215.0,29.0,U,995.0,200.0,795.0,5.0,790.0,6.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,4.0,0.0,18.0
3351,21,215.0,32.0,A,478.0,136.0,342.0,2.0,340.0,2.0,...,0.0,0.0,2.0,0.0,0.0,1.0,0.0,3.0,1.0,1.0
3352,21,215.0,32.0,B,536.0,156.0,380.0,2.0,378.0,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,7.0

In [102]:
df_2015 = df_2015.apply(pd.to_numeric, errors='coerce').astype('Int64')
df_2015

,Distrito,Barrio,Sección,Mesa,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,...,PCAS-TC,PLIB,LA COALICION NACIONAL,SAIN,PH,PCPE,FE DE LAS JONS,PACMA,RECORTES CERO,VOX
0,1,11,1,<NA>,847,267,580,1,579,4,...,1,0,0,0,0,1,0,6,0,11
1,1,11,2,<NA>,640,222,418,1,417,3,...,0,0,1,0,0,0,0,5,0,2
2,1,11,3,<NA>,584,215,369,3,366,4,...,1,0,1,0,0,0,0,6,0,8
3,1,11,3,<NA>,521,196,325,4,321,0,...,0,0,0,0,0,0,0,2,0,3
4,1,11,4,<NA>,938,262,676,4,672,5,...,0,0,0,0,4,0,0,3,1,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3348,21,215,27,<NA>,873,195,678,2,676,9,...,0,0,0,0,0,0,0,4,0,7
3349,21,215,27,<NA>,800,151,649,4,645,8,...,1,2,1,0,0,0,1,3,1,13
3350,21,215,29,<NA>,995,200,795,5,790,6,...,0,0,1,0,1,0,0,4,0,18
3351,21,215,32,<NA>,478,136,342,2,340,2,...,0,0,2,0,0,1,0,3,1,1
3352,21,215,32,<NA>,536,156,380,2,378,2,...,0,1,0,0,0,0,0,3,1,7

In [84]:
df_2015.columns.to_list()

['Distrito',
 'Barrio',
 'Sección',
 'Mesa',
 'Censo',
 'Abstención',
 'Total',
 'Nulos',
 'Total no nulos',
 'Blanco',
 'Total no nulos no blancos',
 'PP',
 'PSOE',
 'PODEMOS',
 'CIUDADANOS',
 'IUCM-LV',
 'UPyD',
 'ESPAÑA 2000',
 'AES',
 'ULEG',
 'PCAS-TC',
 'PLIB',
 'LA COALICION NACIONAL',
 'SAIN',
 'PH',
 'PCPE',
 'FE DE LAS JONS',
 'PACMA',
 'RECORTES CERO',
 'VOX']

In [105]:
df_2015 = df_2015[[
 'Barrio',
 'Sección',
 'Censo',
 'Abstención',
 'Total',
 'Nulos',
 'Total no nulos',
 'Blanco',
 'Total no nulos no blancos',
 'PP',
 'PSOE',
 'PODEMOS',
 'CIUDADANOS',
 'IUCM-LV',
 'UPyD',
 'ESPAÑA 2000',
 'AES',
 'ULEG',
 'PCAS-TC',
 'PLIB',
 'LA COALICION NACIONAL',
 'SAIN',
 'PH',
 'PCPE',
 'FE DE LAS JONS',
 'PACMA',
 'RECORTES CERO',
 'VOX']]

In [97]:
df_2015.to_csv("./data/2015.csv")

In [108]:
df_2015

,Barrio,Sección,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,PP,...,PCAS-TC,PLIB,LA COALICION NACIONAL,SAIN,PH,PCPE,FE DE LAS JONS,PACMA,RECORTES CERO,VOX
0,11,1,847,267,580,1,579,4,575,216,...,1,0,0,0,0,1,0,6,0,11
1,11,2,640,222,418,1,417,3,414,96,...,0,0,1,0,0,0,0,5,0,2
2,11,3,584,215,369,3,366,4,362,143,...,1,0,1,0,0,0,0,6,0,8
3,11,3,521,196,325,4,321,0,321,119,...,0,0,0,0,0,0,0,2,0,3
4,11,4,938,262,676,4,672,5,667,242,...,0,0,0,0,4,0,0,3,1,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3348,215,27,873,195,678,2,676,9,667,304,...,0,0,0,0,0,0,0,4,0,7
3349,215,27,800,151,649,4,645,8,637,252,...,1,2,1,0,0,0,1,3,1,13
3350,215,29,995,200,795,5,790,6,784,338,...,0,0,1,0,1,0,0,4,0,18
3351,215,32,478,136,342,2,340,2,338,130,...,0,0,2,0,0,1,0,3,1,1
3352,215,32,536,156,380,2,378,2,376,151,...,0,1,0,0,0,0,0,3,1,7

In [109]:
df_2015['Year'] = 2015
df_2015

,Barrio,Sección,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,PP,...,PLIB,LA COALICION NACIONAL,SAIN,PH,PCPE,FE DE LAS JONS,PACMA,RECORTES CERO,VOX,Year
0,11,1,847,267,580,1,579,4,575,216,...,0,0,0,0,1,0,6,0,11,2015
1,11,2,640,222,418,1,417,3,414,96,...,0,1,0,0,0,0,5,0,2,2015
2,11,3,584,215,369,3,366,4,362,143,...,0,1,0,0,0,0,6,0,8,2015
3,11,3,521,196,325,4,321,0,321,119,...,0,0,0,0,0,0,2,0,3,2015
4,11,4,938,262,676,4,672,5,667,242,...,0,0,0,4,0,0,3,1,9,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3348,215,27,873,195,678,2,676,9,667,304,...,0,0,0,0,0,0,4,0,7,2015
3349,215,27,800,151,649,4,645,8,637,252,...,2,1,0,0,0,1,3,1,13,2015
3350,215,29,995,200,795,5,790,6,784,338,...,0,1,0,1,0,0,4,0,18,2015
3351,215,32,478,136,342,2,340,2,338,130,...,0,2,0,0,1,0,3,1,1,2015
3352,215,32,536,156,380,2,378,2,376,151,...,1,0,0,0,0,0,3,1,7,2015

In [110]:
df_2015.columns.to_list()

['Barrio',
 'Sección',
 'Censo',
 'Abstención',
 'Total',
 'Nulos',
 'Total no nulos',
 'Blanco',
 'Total no nulos no blancos',
 'PP',
 'PSOE',
 'PODEMOS',
 'CIUDADANOS',
 'IUCM-LV',
 'UPyD',
 'ESPAÑA 2000',
 'AES',
 'ULEG',
 'PCAS-TC',
 'PLIB',
 'LA COALICION NACIONAL',
 'SAIN',
 'PH',
 'PCPE',
 'FE DE LAS JONS',
 'PACMA',
 'RECORTES CERO',
 'VOX',
 'Year']

In [123]:
df_2015 = df_2015[['Barrio',
 'Year',
 'Censo',
 'Abstención',
 'Total',
 'Nulos',
 'Total no nulos',
 'Blanco',
 'Total no nulos no blancos',
 'PP',
 'PSOE',
 'PODEMOS',
 'CIUDADANOS',
 'IUCM-LV',
 'UPyD',
 'ESPAÑA 2000',
 'AES',
 'ULEG',
 'PCAS-TC',
 'PLIB',
 'LA COALICION NACIONAL',
 'SAIN',
 'PH',
 'PCPE',
 'FE DE LAS JONS',
 'PACMA',
 'RECORTES CERO',
 'VOX']]

In [124]:
df_2015

,Barrio,Year,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,PP,...,PCAS-TC,PLIB,LA COALICION NACIONAL,SAIN,PH,PCPE,FE DE LAS JONS,PACMA,RECORTES CERO,VOX
0,11,2015,847,267,580,1,579,4,575,216,...,1,0,0,0,0,1,0,6,0,11
1,11,2015,640,222,418,1,417,3,414,96,...,0,0,1,0,0,0,0,5,0,2
2,11,2015,584,215,369,3,366,4,362,143,...,1,0,1,0,0,0,0,6,0,8
3,11,2015,521,196,325,4,321,0,321,119,...,0,0,0,0,0,0,0,2,0,3
4,11,2015,938,262,676,4,672,5,667,242,...,0,0,0,0,4,0,0,3,1,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3348,215,2015,873,195,678,2,676,9,667,304,...,0,0,0,0,0,0,0,4,0,7
3349,215,2015,800,151,649,4,645,8,637,252,...,1,2,1,0,0,0,1,3,1,13
3350,215,2015,995,200,795,5,790,6,784,338,...,0,0,1,0,1,0,0,4,0,18
3351,215,2015,478,136,342,2,340,2,338,130,...,0,0,2,0,0,1,0,3,1,1
3352,215,2015,536,156,380,2,378,2,376,151,...,0,1,0,0,0,0,0,3,1,7

In [113]:
df_2019 = pd.read_excel("./2019.xls")

In [114]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3747 entries, 0 to 3746
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Distrito                   3745 non-null   object
 1   Barrio                     3742 non-null   float64
 2   Sección                    3742 non-null   float64
 3   Mesa                       3742 non-null   object
 4   Censo (1)                  3743 non-null   float64
 5   Abstención                 3743 non-null   float64
 6   Total                      3743 non-null   float64
 7   Nulos                      3743 non-null   float64
 8   Total no nulos             3743 non-null   float64
 9   Blanco                     3743 non-null   float64
 10  Total no nulos no blancos  3743 non-null   float64
 11  PACMA                      3743 non-null   float64
 12  MAS MADRID                 3743 non-null   float64
 13  P.S.O.E.                   3743 non-null   float64
 14  PH                         3743 non-null   float64
 15  ULEG                       3743 non-null   float64
 16  Cs                         3743 non-null   float64
 17  FE de las JONS             3743 non-null   float64
 18  PCAS-TC                    3743 non-null   float64
 19  PUM+J                      3743 non-null   float64
 20  P-LIB                      3743 non-null   float64
 21  P.P.                       3743 non-null   float64
 22  PCTE                       3743 non-null   float64
 23  VOX                        3743 non-null   float64
 24  UPyD                       3743 non-null   float64
 25  PODEMOS-IU                 3743 non-null   float64
dtypes: float64(24), object(2)
memory usage: 761.2+ KB

In [91]:
grouped_2015 = df_2015.groupby('Barrio').sum()
grouped_2015

,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,PP,PSOE,PODEMOS,...,PCAS-TC,PLIB,LA COALICION NACIONAL,SAIN,PH,PCPE,FE DE LAS JONS,PACMA,RECORTES CERO,VOX
Barrio,,,,,,,,,,,,,,,,,,,,,
11,17169,5256,11913,75,11838,101,11737,3383,3046,2953,...,4,4,12,6,11,11,7,131,19,136
12,31156,11108,20048,127,19921,160,19761,4248,5048,6852,...,17,5,12,3,21,18,21,196,37,135
13,7977,2689,5288,22,5266,51,5215,1599,1304,1258,...,1,3,4,6,5,4,5,50,9,64
14,12206,4082,8124,47,8077,73,8004,2678,2116,1528,...,2,6,10,0,4,7,13,74,6,113
15,23075,7689,15386,94,15292,124,15168,4195,3995,3946,...,7,7,19,3,20,12,13,159,21,167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,15062,3405,11657,80,11577,129,11448,4610,2627,1635,...,2,8,5,2,9,3,9,75,4,177
212,1253,583,670,0,670,4,666,148,215,137,...,0,1,1,1,1,0,3,6,1,1
213,5464,1936,3528,40,3488,36,3452,1054,939,681,...,0,4,2,1,4,4,9,77,2,24
214,7320,2059,5261,57,5204,57,5147,1457,1241,1013,...,0,3,1,2,3,9,9,71,10,34
215,4746,1125,3621,21,3600,38,3562,1503,673,364,...,1,3,5,0,3,1,2,25,5,59

In [107]:
grouped_2015['Year'] = 2015
grouped_2015

,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,PP,PSOE,PODEMOS,...,PLIB,LA COALICION NACIONAL,SAIN,PH,PCPE,FE DE LAS JONS,PACMA,RECORTES CERO,VOX,Year
Barrio,,,,,,,,,,,,,,,,,,,,,
11,17169,5256,11913,75,11838,101,11737,3383,3046,2953,...,4,12,6,11,11,7,131,19,136,2015
12,31156,11108,20048,127,19921,160,19761,4248,5048,6852,...,5,12,3,21,18,21,196,37,135,2015
13,7977,2689,5288,22,5266,51,5215,1599,1304,1258,...,3,4,6,5,4,5,50,9,64,2015
14,12206,4082,8124,47,8077,73,8004,2678,2116,1528,...,6,10,0,4,7,13,74,6,113,2015
15,23075,7689,15386,94,15292,124,15168,4195,3995,3946,...,7,19,3,20,12,13,159,21,167,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,15062,3405,11657,80,11577,129,11448,4610,2627,1635,...,8,5,2,9,3,9,75,4,177,2015
212,1253,583,670,0,670,4,666,148,215,137,...,1,1,1,1,0,3,6,1,1,2015
213,5464,1936,3528,40,3488,36,3452,1054,939,681,...,4,2,1,4,4,9,77,2,24,2015
214,7320,2059,5261,57,5204,57,5147,1457,1241,1013,...,3,1,2,3,9,9,71,10,34,2015
215,4746,1125,3621,21,3600,38,3562,1503,673,364,...,3,5,0,3,1,2,25,5,59,2015

In [115]:
df_2019 = df_2019.dropna(subset=['Total'])

In [116]:
df_2019 = df_2019[1:]

In [117]:
df_2019 = df_2019.apply(pd.to_numeric, errors='coerce').astype('Int64')
df_2019

,Distrito,Barrio,Sección,Mesa,Censo (1),Abstención,Total,Nulos,Total no nulos,Blanco,...,Cs,FE de las JONS,PCAS-TC,PUM+J,P-LIB,P.P.,PCTE,VOX,UPyD,PODEMOS-IU
2,1,11,1,<NA>,892,263,629,2,627,8,...,110,0,0,0,0,143,0,38,1,35
3,1,11,2,<NA>,626,227,399,4,395,0,...,48,0,1,1,0,68,0,27,0,37
4,1,11,3,<NA>,526,187,339,1,338,1,...,52,0,0,0,0,88,0,20,1,15
5,1,11,3,<NA>,665,229,436,4,432,3,...,57,2,0,0,3,109,1,48,0,27
6,1,11,4,<NA>,463,117,346,1,345,1,...,50,0,0,1,1,103,0,30,1,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3739,21,214,31,<NA>,912,198,714,3,711,3,...,195,0,0,1,1,92,0,54,1,29
3740,21,215,32,<NA>,573,151,422,4,418,2,...,150,0,0,0,0,86,1,37,0,14
3741,21,215,32,<NA>,640,171,469,3,466,2,...,157,0,0,0,0,101,2,54,2,10
3742,21,214,33,<NA>,743,228,515,3,512,1,...,160,0,0,2,1,87,0,51,2,20
3743,21,214,33,<NA>,686,203,483,1,482,2,...,164,0,0,3,0,77,0,45,1,15

In [118]:
df_2019.columns.to_list()

['Distrito',
 'Barrio',
 'Sección',
 'Mesa',
 'Censo (1)',
 'Abstención',
 'Total',
 'Nulos',
 'Total no nulos',
 'Blanco',
 'Total no nulos no blancos',
 'PACMA',
 'MAS MADRID',
 'P.S.O.E.',
 'PH',
 'ULEG',
 'Cs',
 'FE de las JONS',
 'PCAS-TC',
 'PUM+J',
 'P-LIB',
 'P.P. ',
 'PCTE',
 'VOX',
 'UPyD',
 'PODEMOS-IU']

In [119]:
df_2019 = df_2019[['Barrio','Censo (1)','Abstención','Total','Nulos','Total no nulos','Blanco','Total no nulos no blancos',
 'PACMA','MAS MADRID','P.S.O.E.','PH','ULEG','Cs','FE de las JONS','PCAS-TC','PUM+J','P-LIB','P.P. ','PCTE',
 'VOX','UPyD','PODEMOS-IU']]

In [120]:
df_2019['Year'] = 2019
df_2019

/tmp/ipykernel_35499/782678181.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019['Year'] = 2019

,Barrio,Censo (1),Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,PACMA,MAS MADRID,...,FE de las JONS,PCAS-TC,PUM+J,P-LIB,P.P.,PCTE,VOX,UPyD,PODEMOS-IU,Year
2,11,892,263,629,2,627,8,619,7,129,...,0,0,0,0,143,0,38,1,35,2019
3,11,626,227,399,4,395,0,395,1,115,...,0,1,1,0,68,0,27,0,37,2019
4,11,526,187,339,1,338,1,337,3,75,...,0,0,0,0,88,0,20,1,15,2019
5,11,665,229,436,4,432,3,429,5,88,...,2,0,0,3,109,1,48,0,27,2019
6,11,463,117,346,1,345,1,344,1,65,...,0,0,1,1,103,0,30,1,19,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3739,214,912,198,714,3,711,3,708,4,150,...,0,0,1,1,92,0,54,1,29,2019
3740,215,573,151,422,4,418,2,416,4,45,...,0,0,0,0,86,1,37,0,14,2019
3741,215,640,171,469,3,466,2,464,1,41,...,0,0,0,0,101,2,54,2,10,2019
3742,214,743,228,515,3,512,1,511,5,96,...,0,0,2,1,87,0,51,2,20,2019
3743,214,686,203,483,1,482,2,480,3,85,...,0,0,3,0,77,0,45,1,15,2019

In [122]:
df_2019 = df_2019[['Barrio', 'Year', 'Censo (1)','Abstención','Total','Nulos','Total no nulos','Blanco','Total no nulos no blancos',
 'PACMA','MAS MADRID','P.S.O.E.','PH','ULEG','Cs','FE de las JONS','PCAS-TC','PUM+J','P-LIB','P.P. ','PCTE',
 'VOX','UPyD','PODEMOS-IU']]
df_2019

,Barrio,Year,Censo (1),Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,PACMA,...,Cs,FE de las JONS,PCAS-TC,PUM+J,P-LIB,P.P.,PCTE,VOX,UPyD,PODEMOS-IU
2,11,2019,892,263,629,2,627,8,619,7,...,110,0,0,0,0,143,0,38,1,35
3,11,2019,626,227,399,4,395,0,395,1,...,48,0,1,1,0,68,0,27,0,37
4,11,2019,526,187,339,1,338,1,337,3,...,52,0,0,0,0,88,0,20,1,15
5,11,2019,665,229,436,4,432,3,429,5,...,57,2,0,0,3,109,1,48,0,27
6,11,2019,463,117,346,1,345,1,344,1,...,50,0,0,1,1,103,0,30,1,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3739,214,2019,912,198,714,3,711,3,708,4,...,195,0,0,1,1,92,0,54,1,29
3740,215,2019,573,151,422,4,418,2,416,4,...,150,0,0,0,0,86,1,37,0,14
3741,215,2019,640,171,469,3,466,2,464,1,...,157,0,0,0,0,101,2,54,2,10
3742,214,2019,743,228,515,3,512,1,511,5,...,160,0,0,2,1,87,0,51,2,20
3743,214,2019,686,203,483,1,482,2,480,3,...,164,0,0,3,0,77,0,45,1,15

In [139]:
df_2019 = df_2019.rename(columns={'Censo (1)': 'Censo',
                                  'P.P. ': 'PP',
                                  'P.S.O.E.': 'PSOE',
                                  'PODEMOS-IU': 'PODEMOS',
                                  'Cs': 'CIUDADANOS'})

In [138]:
df_2019

,Barrio,Year,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,PACMA,...,CIUDADANOS,FE de las JONS,PCAS-TC,PUM+J,P-LIB,P.P.,PCTE,VOX,UPyD,PODEMOS
2,11,2019,892,263,629,2,627,8,619,7,...,110,0,0,0,0,143,0,38,1,35
3,11,2019,626,227,399,4,395,0,395,1,...,48,0,1,1,0,68,0,27,0,37
4,11,2019,526,187,339,1,338,1,337,3,...,52,0,0,0,0,88,0,20,1,15
5,11,2019,665,229,436,4,432,3,429,5,...,57,2,0,0,3,109,1,48,0,27
6,11,2019,463,117,346,1,345,1,344,1,...,50,0,0,1,1,103,0,30,1,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3739,214,2019,912,198,714,3,711,3,708,4,...,195,0,0,1,1,92,0,54,1,29
3740,215,2019,573,151,422,4,418,2,416,4,...,150,0,0,0,0,86,1,37,0,14
3741,215,2019,640,171,469,3,466,2,464,1,...,157,0,0,0,0,101,2,54,2,10
3742,214,2019,743,228,515,3,512,1,511,5,...,160,0,0,2,1,87,0,51,2,20
3743,214,2019,686,203,483,1,482,2,480,3,...,164,0,0,3,0,77,0,45,1,15

In [14]:
df_2011

,Barrio,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,PP,PSOE,...,PCAS,AES,CIUDADANOS,ECOLO,PACMA,PH,CYD,PCPE,CDL,Year
0,11,845,285,560,11,549,16,533,306,113,...,0,0,4,0,0,0,0,0,0,2011
1,11,577,219,358,9,349,10,339,142,94,...,0,0,0,0,0,0,0,0,1,2011
2,11,517,176,341,5,336,8,328,172,89,...,0,1,0,0,0,0,0,0,0,2011
3,11,558,198,360,11,349,10,339,175,84,...,1,0,0,0,0,0,0,0,0,2011
4,11,901,286,615,6,609,15,594,312,121,...,0,6,0,1,0,0,0,0,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3342,215,686,235,451,4,447,18,429,268,72,...,0,2,1,0,0,1,1,0,0,2011
3343,215,682,229,453,5,448,10,438,274,83,...,0,0,0,0,0,0,1,0,0,2011
3344,215,735,170,565,8,557,8,549,394,72,...,0,1,0,0,0,0,0,0,1,2011
3345,215,832,186,646,4,642,14,628,434,79,...,0,2,0,0,0,0,0,0,0,2011
3346,215,882,199,683,2,681,13,668,467,90,...,1,4,0,0,0,0,0,0,0,2011

In [16]:
df_2011.columns.to_list()

['Barrio',
 'Censo',
 'Abstención',
 'Total',
 'Nulos',
 'Total no nulos',
 'Blanco',
 'Total no nulos no blancos',
 'PP',
 'PSOE',
 'IU-LV',
 'UPyD',
 'ULEG',
 'SAIn',
 'FE',
 'CENB',
 'PUM+J',
 'PCAS',
 'AES',
 'CIUDADANOS',
 'ECOLO',
 'PACMA',
 'PH',
 'CYD',
 'PCPE',
 'CDL',
 'Year']

In [19]:
df_2011 = df_2011[['Barrio',
 'Year',
 'Censo',
 'Abstención',
 'Total',
 'Nulos',
 'Total no nulos',
 'Blanco',
 'Total no nulos no blancos',
 'PP',
 'PSOE',
 'IU-LV',
 'UPyD',
 'ULEG',
 'SAIn',
 'FE',
 'CENB',
 'PUM+J',
 'PCAS',
 'AES',
 'CIUDADANOS',
 'ECOLO',
 'PACMA',
 'PH',
 'CYD',
 'PCPE',
 'CDL']]
df_2011

,Barrio,Year,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,PP,...,PUM+J,PCAS,AES,CIUDADANOS,ECOLO,PACMA,PH,CYD,PCPE,CDL
0,11,2011,845,285,560,11,549,16,533,306,...,1,0,0,4,0,0,0,0,0,0
1,11,2011,577,219,358,9,349,10,339,142,...,0,0,0,0,0,0,0,0,0,1
2,11,2011,517,176,341,5,336,8,328,172,...,1,0,1,0,0,0,0,0,0,0
3,11,2011,558,198,360,11,349,10,339,175,...,0,1,0,0,0,0,0,0,0,0
4,11,2011,901,286,615,6,609,15,594,312,...,1,0,6,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3342,215,2011,686,235,451,4,447,18,429,268,...,0,0,2,1,0,0,1,1,0,0
3343,215,2011,682,229,453,5,448,10,438,274,...,0,0,0,0,0,0,0,1,0,0
3344,215,2011,735,170,565,8,557,8,549,394,...,0,0,1,0,0,0,0,0,0,1
3345,215,2011,832,186,646,4,642,14,628,434,...,0,0,2,0,0,0,0,0,0,0
3346,215,2011,882,199,683,2,681,13,668,467,...,2,1,4,0,0,0,0,0,0,0

In [20]:
df_2011.columns

Index(['Barrio', 'Year', 'Censo', 'Abstención', 'Total', 'Nulos',
       'Total no nulos', 'Blanco', 'Total no nulos no blancos', 'PP', 'PSOE',
       'IU-LV', 'UPyD', 'ULEG', 'SAIn', 'FE', 'CENB', 'PUM+J', 'PCAS', 'AES',
       'CIUDADANOS', 'ECOLO', 'PACMA', 'PH', 'CYD', 'PCPE', 'CDL'],
      dtype='object')

In [140]:
df_2015.columns

Index(['Barrio', 'Year', 'Censo', 'Abstención', 'Total', 'Nulos',
       'Total no nulos', 'Blanco', 'Total no nulos no blancos', 'PP', 'PSOE',
       'PODEMOS', 'CIUDADANOS', 'IUCM-LV', 'UPyD', 'ESPAÑA 2000', 'AES',
       'ULEG', 'PCAS-TC', 'PLIB', 'LA COALICION NACIONAL', 'SAIN', 'PH',
       'PCPE', 'FE DE LAS JONS', 'PACMA', 'RECORTES CERO', 'VOX'],
      dtype='object')

In [141]:
df_2019.columns

Index(['Barrio', 'Year', 'Censo', 'Abstención', 'Total', 'Nulos',
       'Total no nulos', 'Blanco', 'Total no nulos no blancos', 'PACMA',
       'MAS MADRID', 'PSOE', 'PH', 'ULEG', 'CIUDADANOS', 'FE de las JONS',
       'PCAS-TC', 'PUM+J', 'P-LIB', 'PP', 'PCTE', 'VOX', 'UPyD', 'PODEMOS'],
      dtype='object')

In [2]:
df1 = pd.read_csv("./data/elecciones.csv")
df1

,Unnamed: 0,Barrio,Year,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,...,PLIB,LA COALICION NACIONAL,SAIN,FE DE LAS JONS,RECORTES CERO,VOX,MAS MADRID,FE de las JONS,P-LIB,PCTE
0,0,11,2011,845,285,560,11,549,16,533,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,11,2011,577,219,358,9,349,10,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,11,2011,517,176,341,5,336,8,328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,11,2011,558,198,360,11,349,10,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,11,2011,901,286,615,6,609,15,594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10437,10437,214,2019,912,198,714,3,711,3,708,...,NaN,NaN,NaN,NaN,NaN,54.0,150.0,0.0,1.0,0.0
10438,10438,215,2019,573,151,422,4,418,2,416,...,NaN,NaN,NaN,NaN,NaN,37.0,45.0,0.0,0.0,1.0
10439,10439,215,2019,640,171,469,3,466,2,464,...,NaN,NaN,NaN,NaN,NaN,54.0,41.0,0.0,0.0,2.0
10440,10440,214,2019,743,228,515,3,512,1,511,...,NaN,NaN,NaN,NaN,NaN,51.0,96.0,0.0,1.0,0.0
10441,10441,214,2019,686,203,483,1,482,2,480,...,NaN,NaN,NaN,NaN,NaN,45.0,85.0,0.0,0.0,0.0

In [5]:
df1 = df1.apply(pd.to_numeric, errors='coerce').astype('Int64')
df1

,Unnamed: 0,Barrio,Year,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,...,PLIB,LA COALICION NACIONAL,SAIN,FE DE LAS JONS,RECORTES CERO,VOX,MAS MADRID,FE de las JONS,P-LIB,PCTE
0,0,11,2011,845,285,560,11,549,16,533,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1,11,2011,577,219,358,9,349,10,339,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,2,11,2011,517,176,341,5,336,8,328,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,3,11,2011,558,198,360,11,349,10,339,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,4,11,2011,901,286,615,6,609,15,594,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10437,10437,214,2019,912,198,714,3,711,3,708,...,<NA>,<NA>,<NA>,<NA>,<NA>,54,150,0,1,0
10438,10438,215,2019,573,151,422,4,418,2,416,...,<NA>,<NA>,<NA>,<NA>,<NA>,37,45,0,0,1
10439,10439,215,2019,640,171,469,3,466,2,464,...,<NA>,<NA>,<NA>,<NA>,<NA>,54,41,0,0,2
10440,10440,214,2019,743,228,515,3,512,1,511,...,<NA>,<NA>,<NA>,<NA>,<NA>,51,96,0,1,0
10441,10441,214,2019,686,203,483,1,482,2,480,...,<NA>,<NA>,<NA>,<NA>,<NA>,45,85,0,0,0

In [13]:
df1['Bloq. Conservador'] = df1[['PP','VOX','CIUDADANOS','UPyD']].sum(axis=1).astype('Int64')
df1

,Unnamed: 0,Barrio,Year,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,...,SAIN,FE DE LAS JONS,RECORTES CERO,VOX,MAS MADRID,FE de las JONS,P-LIB,PCTE,Bloq. Conservador,Bloq. Progresista
0,0,11,2011,845,285,560,11,549,16,533,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,343,170
1,1,11,2011,577,219,358,9,349,10,339,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,166,160
2,2,11,2011,517,176,341,5,336,8,328,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,196,119
3,3,11,2011,558,198,360,11,349,10,339,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,208,117
4,4,11,2011,901,286,615,6,609,15,594,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,367,196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10437,10437,214,2019,912,198,714,3,711,3,708,...,<NA>,<NA>,<NA>,54,150,0,1,0,342,210
10438,10438,215,2019,573,151,422,4,418,2,416,...,<NA>,<NA>,<NA>,37,45,0,0,1,273,93
10439,10439,215,2019,640,171,469,3,466,2,464,...,<NA>,<NA>,<NA>,54,41,0,0,2,314,106
10440,10440,214,2019,743,228,515,3,512,1,511,...,<NA>,<NA>,<NA>,51,96,0,1,0,300,107
10441,10441,214,2019,686,203,483,1,482,2,480,...,<NA>,<NA>,<NA>,45,85,0,0,0,287,102

In [11]:
df1['Bloq. Progresista'] = df1[['PSOE','PODEMOS','IU-LV', 'MAS MADRID','IUCM-LV']].sum(axis=1).astype('Int64')
df1

,Unnamed: 0,Barrio,Year,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,...,SAIN,FE DE LAS JONS,RECORTES CERO,VOX,MAS MADRID,FE de las JONS,P-LIB,PCTE,Bloq. Conservador,Bloq. Progresista
0,0,11,2011,845,285,560,11,549,16,533,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,310,170
1,1,11,2011,577,219,358,9,349,10,339,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,142,160
2,2,11,2011,517,176,341,5,336,8,328,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,172,119
3,3,11,2011,558,198,360,11,349,10,339,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,175,117
4,4,11,2011,901,286,615,6,609,15,594,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,312,196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10437,10437,214,2019,912,198,714,3,711,3,708,...,<NA>,<NA>,<NA>,54,150,0,1,0,341,210
10438,10438,215,2019,573,151,422,4,418,2,416,...,<NA>,<NA>,<NA>,37,45,0,0,1,273,93
10439,10439,215,2019,640,171,469,3,466,2,464,...,<NA>,<NA>,<NA>,54,41,0,0,2,312,106
10440,10440,214,2019,743,228,515,3,512,1,511,...,<NA>,<NA>,<NA>,51,96,0,1,0,298,107
10441,10441,214,2019,686,203,483,1,482,2,480,...,<NA>,<NA>,<NA>,45,85,0,0,0,286,102

In [14]:
df1['Otros'] = df1[['ULEG',
 'SAIn',
 'FE',
 'CENB',
 'PUM+J',
 'PCAS',
 'AES',
 'ECOLO',
 'PACMA',
 'PH',
 'CYD',
 'PCPE',
 'CDL',
 'ESPAÑA 2000',
 'PCAS-TC',
 'PLIB',
 'LA COALICION NACIONAL',
 'SAIN',
 'FE DE LAS JONS',
 'RECORTES CERO',
 'FE de las JONS',
 'P-LIB',
 'PCTE']].sum(axis=1).astype('Int64')
df1

,Unnamed: 0,Barrio,Year,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,...,FE DE LAS JONS,RECORTES CERO,VOX,MAS MADRID,FE de las JONS,P-LIB,PCTE,Bloq. Conservador,Bloq. Progresista,Otros
0,0,11,2011,845,285,560,11,549,16,533,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,343,170,20
1,1,11,2011,577,219,358,9,349,10,339,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,166,160,13
2,2,11,2011,517,176,341,5,336,8,328,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,196,119,13
3,3,11,2011,558,198,360,11,349,10,339,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,208,117,14
4,4,11,2011,901,286,615,6,609,15,594,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,367,196,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10437,10437,214,2019,912,198,714,3,711,3,708,...,<NA>,<NA>,54,150,0,1,0,342,210,6
10438,10438,215,2019,573,151,422,4,418,2,416,...,<NA>,<NA>,37,45,0,0,1,273,93,5
10439,10439,215,2019,640,171,469,3,466,2,464,...,<NA>,<NA>,54,41,0,0,2,314,106,3
10440,10440,214,2019,743,228,515,3,512,1,511,...,<NA>,<NA>,51,96,0,1,0,300,107,8
10441,10441,214,2019,686,203,483,1,482,2,480,...,<NA>,<NA>,45,85,0,0,0,287,102,6

In [12]:
df1.columns.to_list()

['Unnamed: 0',
 'Barrio',
 'Year',
 'Censo',
 'Abstención',
 'Total',
 'Nulos',
 'Total no nulos',
 'Blanco',
 'Total no nulos no blancos',
 'PP',
 'PSOE',
 'IU-LV',
 'UPyD',
 'ULEG',
 'SAIn',
 'FE',
 'CENB',
 'PUM+J',
 'PCAS',
 'AES',
 'CIUDADANOS',
 'ECOLO',
 'PACMA',
 'PH',
 'CYD',
 'PCPE',
 'CDL',
 'PODEMOS',
 'IUCM-LV',
 'ESPAÑA 2000',
 'PCAS-TC',
 'PLIB',
 'LA COALICION NACIONAL',
 'SAIN',
 'FE DE LAS JONS',
 'RECORTES CERO',
 'VOX',
 'MAS MADRID',
 'FE de las JONS',
 'P-LIB',
 'PCTE',
 'Bloq. Conservador',
 'Bloq. Progresista']

In [23]:
df1.columns.to_list()
df1 = df1[['Barrio',
 'Year',
 'Censo',
 'Abstención',
 'Total',
 'Nulos',
 'Total no nulos',
 'Blanco',
 'Total no nulos no blancos',
 'PP',
 'PSOE',
 'PODEMOS',
 'CIUDADANOS',
 'IUCM-LV',
 'UPyD',
 'ESPAÑA 2000',
 'AES',
 'ULEG',
 'PCAS-TC',
 'PLIB',
 'LA COALICION NACIONAL',
 'SAIN',
 'PH',
 'PCPE',
 'FE DE LAS JONS',
 'PACMA',
 'RECORTES CERO',
 'VOX',
 'MAS MADRID',
 'FE de las JONS',
 'PUM+J',
 'P-LIB',
 'PCTE']]

In [15]:
df1

,Unnamed: 0,Barrio,Year,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,...,FE DE LAS JONS,RECORTES CERO,VOX,MAS MADRID,FE de las JONS,P-LIB,PCTE,Bloq. Conservador,Bloq. Progresista,Otros
0,0,11,2011,845,285,560,11,549,16,533,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,343,170,20
1,1,11,2011,577,219,358,9,349,10,339,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,166,160,13
2,2,11,2011,517,176,341,5,336,8,328,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,196,119,13
3,3,11,2011,558,198,360,11,349,10,339,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,208,117,14
4,4,11,2011,901,286,615,6,609,15,594,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,367,196,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10437,10437,214,2019,912,198,714,3,711,3,708,...,<NA>,<NA>,54,150,0,1,0,342,210,6
10438,10438,215,2019,573,151,422,4,418,2,416,...,<NA>,<NA>,37,45,0,0,1,273,93,5
10439,10439,215,2019,640,171,469,3,466,2,464,...,<NA>,<NA>,54,41,0,0,2,314,106,3
10440,10440,214,2019,743,228,515,3,512,1,511,...,<NA>,<NA>,51,96,0,1,0,300,107,8
10441,10441,214,2019,686,203,483,1,482,2,480,...,<NA>,<NA>,45,85,0,0,0,287,102,6

In [16]:
df1.to_csv("./data/elecciones.csv")

In [25]:
concatenated_df = pd.concat([df_2011, df1], axis=0, ignore_index=True)
concatenated_df

,Barrio,Year,Censo,Abstención,Total,Nulos,Total no nulos,Blanco,Total no nulos no blancos,PP,...,PLIB,LA COALICION NACIONAL,SAIN,FE DE LAS JONS,RECORTES CERO,VOX,MAS MADRID,FE de las JONS,P-LIB,PCTE
0,11,2011,845,285,560,11,549,16,533,306,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11,2011,577,219,358,9,349,10,339,142,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,2011,517,176,341,5,336,8,328,172,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,2011,558,198,360,11,349,10,339,175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,2011,901,286,615,6,609,15,594,312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10437,214,2019,912,198,714,3,711,3,708,92,...,NaN,NaN,NaN,NaN,NaN,54.0,150.0,0.0,1.0,0.0
10438,215,2019,573,151,422,4,418,2,416,86,...,NaN,NaN,NaN,NaN,NaN,37.0,45.0,0.0,0.0,1.0
10439,215,2019,640,171,469,3,466,2,464,101,...,NaN,NaN,NaN,NaN,NaN,54.0,41.0,0.0,0.0,2.0
10440,214,2019,743,228,515,3,512,1,511,87,...,NaN,NaN,NaN,NaN,NaN,51.0,96.0,0.0,1.0,0.0
10441,214,2019,686,203,483,1,482,2,480,77,...,NaN,NaN,NaN,NaN,NaN,45.0,85.0,0.0,0.0,0.0

In [26]:
concatenated_df.to_csv("./data/elecciones.csv")

In [70]:
grouped_df.to_csv("./data/2019.csv")

In [18]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3743 entries, 0 to 3743
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Distrito                   3743 non-null   object
 1   Barrio                     3742 non-null   float64
 2   Sección                    3742 non-null   float64
 3   Mesa                       3742 non-null   object
 4   Censo (1)                  3743 non-null   float64
 5   Abstención                 3743 non-null   float64
 6   Total                      3743 non-null   float64
 7   Nulos                      3743 non-null   float64
 8   Total no nulos             3743 non-null   float64
 9   Blanco                     3743 non-null   float64
 10  Total no nulos no blancos  3743 non-null   float64
 11  PACMA                      3743 non-null   float64
 12  MAS MADRID                 3743 non-null   float64
 13  P.S.O.E.                   3743 non-null   float64
 14  PH                         3743 non-null   float64
 15  ULEG                       3743 non-null   float64
 16  Cs                         3743 non-null   float64
 17  FE de las JONS             3743 non-null   float64
 18  PCAS-TC                    3743 non-null   float64
 19  PUM+J                      3743 non-null   float64
 20  P-LIB                      3743 non-null   float64
 21  P.P.                       3743 non-null   float64
 22  PCTE                       3743 non-null   float64
 23  VOX                        3743 non-null   float64
 24  UPyD                       3743 non-null   float64
 25  PODEMOS-IU                 3743 non-null   float64
dtypes: float64(24), object(2)
memory usage: 789.5+ KB

In [20]:
unique_elements = df_2019['Barrio'].unique()

In [25]:
unique_elements[1:].astype(int)

array([ 11,  12,  13,  14,  15,  16,  21,  22,  23,  24,  25,  26,  27,
        31,  32,  33,  34,  35,  36,  41,  42,  43,  44,  45,  46,  51,
        52,  53,  54,  55,  56,  61,  62,  63,  64,  65,  66,  71,  72,
        73,  74,  75,  76,  81,  82,  83,  84,  85,  86,  88,  87,  91,
        92,  93,  94,  95,  96,  97, 101, 102, 103, 104, 105, 107, 106,
       111, 112, 113, 114, 115, 116, 117, 121, 122, 123, 124, 125, 126,
       127, 131, 132, 133, 134, 135, 136, 141, 143, 144, 145, 146, 142,
       151, 152, 153, 154, 155, 156, 157, 158, 159, 161, 162, 163, 164,
       165, 166, 171, 172, 173, 174, 175, 181, 182, 183, 191, 192, 193,
       194, 201, 202, 203, 204, 205, 206, 207, 208, 211, 212, 213, 214,
       215])

In [ ]:
barrios = {11: 'Palacio', 12: 'Embajadores', 13: 'Cortes', 14: 'Justicia', 15: 'Universidad', 16: 'Sol', 21: 'Imperial',
           22: 'Acacias', 23: 'Chopera', 24: 'Legazpi', 25: 'Delicias', 26: 'Palos de la Frontera', 27: 'Atocha',
           31: 'Pacífico', 32: 'Adelfas', 33: 'Estrella', 34: 'Ibiza', 35: 'Los Jerónimos', 36: 'Niño Jesús', 41: 'Recoletos',
           42: 'Goya', 43: 'Fuente del Berro', 44: 'Guadalera', 45: 'Lista', 46: 'Castellana', 51: 'El Viso', 52: 'Prosperidad',
           53: 'Ciudad Jardín', 54: 'Hispanoamérica', 55: 'Nueva España', 56: 'Castilla', 61, 62, 63, 64, 65, 66, 71, 72, 73, 74, 75, 76, 81, 82, 83, 84, 85, 86, 88, 87, 91,
        92, 93, 94, 95, 96, 97, 101, 102, 103, 104, 105, 107, 106,
       111, 112, 113, 114, 115, 116, 117, 121, 122, 123, 124, 125, 126,
       127, 131, 132, 133, 134, 135, 136, 141, 143, 144, 145, 146, 142,
       151, 152, 153, 154, 155, 156, 157, 158, 159, 161, 162, 163, 164,
       165, 166, 171, 172, 173, 174, 175, 181, 182, 183, 191, 192, 193,
       194, 201, 202, 203, 204, 205, 206, 207, 208, 211, 212, 213, 214,
       215}

In [73]:
df_barrios = pd.read_csv("https://geoportal.madrid.es/fsdescargas/IDEAM_WBGEOPORTAL/LIMITES_ADMINISTRATIVOS/Barrios/Barrios.csv", sep=';')


df_barrios

,OID_,OBJECTID,CODDIS,NOMDIS,COD_BAR,NOMBRE,Shape_Leng,COD_DIS_TX,BARRIO_MAY,COD_DISBAR,NUM_BAR,BARRIO_MT,COD_DISB,Shape_STAr,Shape_STLe
0,0,132,17,Villaverde,172,San Cristóbal,"4752,82744596",17,SAN CRISTOBAL,172,2,SAN CRISTÓBAL,17-2,"1082492,47218","4752,82744597"
1,1,133,17,Villaverde,173,Butarque,"12641,91685807",17,BUTARQUE,173,3,BUTARQUE,17-3,"6375521,77631","12641,9168581"
2,2,134,17,Villaverde,175,Ángeles,"5703,9988152",17,ANGELES,175,5,ÁNGELES,17-5,"1935271,49008","5703,9988152"
3,3,135,17,Villaverde,174,Los Rosales,"5470,26262759",17,LOS ROSALES,174,4,LOS ROSALES,17-4,"1540746,76095","5470,26262759"
4,4,136,17,Villaverde,171,Villaverde Alto - Casco Histórico de Villaverde,"13726,66050312",17,VILLAVERDE ALTO - CASCO HISTORICO DE VILLAVERDE,171,1,VILLAVERDE ALTO - CASCO HISTÓRICO DE VILLAVERDE,17-1,"9253553,84107","13726,6605031"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,126,258,8,Fuencarral - El Pardo,86,Valverde,"12214,17614034",8,VALVERDE,86,6,VALVERDE,8-6,"8981228,48477","12214,1761403"
127,127,259,8,Fuencarral - El Pardo,88,El Goloso,"26548,95608588",8,EL GOLOSO,88,8,EL GOLOSO,8-8,"26493087,1432","26548,9560859"
128,128,260,8,Fuencarral - El Pardo,81,El Pardo,"87226,06860511",8,EL PARDO,81,1,EL PARDO,8-1,"187583377,386","87226,0686051"
129,129,261,19,Vicálvaro,191,Casco histórico de Vicálvaro,"31101,74739896",19,CASCO HISTORICO DE VICALVARO,191,1,CASCO HISTÓRICO DE VICÁLVARO,19-1,"21494220,3233","31101,747399"
130,130,262,19,Vicálvaro,194,El Cañaveral,"15928,20255864",19,EL CAÑAVERAL,194,4,EL CAÑAVERAL,19-4,"10574251,7914","15928,2025586"

In [43]:
df_barrios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OID_        131 non-null    int64
 1   OBJECTID    131 non-null    int64
 2   CODDIS      131 non-null    int64
 3   NOMDIS      131 non-null    object
 4   COD_BAR     131 non-null    int64
 5   NOMBRE      131 non-null    object
 6   Shape_Leng  131 non-null    object
 7   COD_DIS_TX  131 non-null    int64
 8   BARRIO_MAY  131 non-null    object
 9   COD_DISBAR  131 non-null    int64
 10  NUM_BAR     131 non-null    int64
 11  BARRIO_MT   131 non-null    object
 12  COD_DISB    131 non-null    object
 13  Shape_STAr  131 non-null    object
 14  Shape_STLe  131 non-null    object
dtypes: int64(7), object(8)
memory usage: 15.5+ KB

In [74]:
df_barrios = df_barrios[['COD_BAR', 'NOMBRE', 'COD_DIS_TX']].sort_values(['COD_BAR']).reset_index(drop=True)

In [75]:
df_barrios = df_barrios.rename(columns={'COD_BAR': 'id',
                        'NOMBRE': 'Nombre',
                        'COD_DIS_TX': 'id_distrito'})
df_barrios

      id                      Nombre  id_distrito
0     11                     Palacio            1
1     12                 Embajadores            1
2     13                      Cortes            1
3     14                    Justicia            1
4     15                 Universidad            1
..   ...                         ...          ...
126  211            Alameda de Osuna           21
127  212                  Aeropuerto           21
128  213  Casco Histórico de Barajas           21
129  214                       Timón           21
130  215                  Corralejos           21

[131 rows x 3 columns]

In [76]:
df_barrios.to_csv("./data/barrios.csv")

In [34]:
unique_barrios = df_barrios['cod_barrio'].unique()
unique_barrios

array([ nan,  11.,  12.,  13.,  14.,  15.,  16.,  21.,  22.,  23.,  24.,
        25.,  26.,  27.,  31.,  32.,  33.,  34.,  35.,  36.,  41.,  42.,
        43.,  44.,  45.,  46.,  51.,  52.,  53.,  54.,  55.,  56.,  61.,
        62.,  63.,  64.,  65.,  66.,  71.,  72.,  73.,  74.,  75.,  76.,
        81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,  91.,  92.,  93.,
        94.,  95.,  96.,  97., 101., 102., 103., 104., 105., 106., 107.,
       111., 112., 113., 114., 115., 116., 117., 121., 122., 123., 124.,
       125., 126., 127., 131., 132., 133., 134., 135., 136., 141., 142.,
       143., 144., 145., 146., 151., 152., 153., 154., 155., 156., 157.,
       158., 159., 161., 162., 163., 164., 165., 166., 171., 172., 173.,
       174., 175., 181., 182., 183., 191., 192., 193., 194., 201., 202.,
       203., 204., 205., 206., 207., 208., 211., 212., 213., 214., 215.])

In [36]:
unique_barrios[1:].astype(int) == unique_elements[1:].astype(int)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False, False, False, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [55]:
df_renta = pd.read_excel("../../Descargas/rentas.xls")

In [56]:
df_renta

    Unnamed: 0  Unnamed: 1  Unnamed: 2                         Unnamed: 3
0          NaN         NaN         NaN                                NaN
1          NaN         NaN         NaN                                NaN
2          NaN         NaN         NaN                                NaN
3          NaN         NaN         NaN                                NaN
4          NaN         NaN         NaN                                NaN
5          NaN         NaN         NaN                                NaN
6          NaN         NaN         NaN                                NaN
7          NaN         NaN         NaN                                NaN
8          NaN         NaN         NaN                                NaN
9          NaN         NaN         NaN                                NaN
10         NaN         NaN         NaN                                NaN
11         NaN         NaN         NaN                                NaN
12         NaN         NaN         NaN                                NaN
13         NaN         NaN         NaN                                NaN
14         NaN         NaN         NaN                                NaN
15         NaN         NaN         NaN                                NaN
16         NaN         NaN         NaN                                NaN
17         NaN         NaN         NaN                                NaN
18         NaN         NaN         NaN                    Total municipal
19         NaN         NaN         NaN  Renta Disponible Bruta per cápita
20         NaN         NaN         NaN     Resultados por distritos: 2002
21         NaN         NaN         NaN     Resultados por distritos: 2003
22         NaN         NaN         NaN     Resultados por distritos: 2004
23         NaN         NaN         NaN     Resultados por distritos: 2005
24         NaN         NaN         NaN     Resultados por distritos: 2006
25         NaN         NaN         NaN     Resultados por distritos: 2007
26         NaN         NaN         NaN     Resultados por distritos: 2008
27         NaN         NaN         NaN     Resultados por distritos: 2009
28         NaN         NaN         NaN     Resultados por distritos: 2010
29         NaN         NaN         NaN     Resultados por distritos: 2011
30         NaN         NaN         NaN     Resultados por distritos: 2012
31         NaN         NaN         NaN     Resultados por distritos: 2013
32         NaN         NaN         NaN     Resultados por distritos: 2014
33         NaN         NaN         NaN     Resultados por distritos: 2015
34         NaN         NaN         NaN     Resultados por distritos: 2016
35         NaN         NaN         NaN     Resultados por distritos: 2017
36         NaN         NaN         NaN  Resultados por distritos: 2018(p)
37         NaN         NaN         NaN  Resultados por distritos: 2019(a)
38         NaN         NaN         NaN                        Metodología

In [77]:
df_dist = pd.read_excel("./renta_distritos.ods", engine="odf")
df_dist

    Id               Nombre  Saldo de rentas  Población  Índice de Riqueza
0    1               Centro     4.484236e+06     140473          31.922406
1    2           Arganzuela     4.886556e+06     151965          32.155798
2    3               Retiro     4.428007e+06     120406          36.775638
3    4            Salamanca     5.916437e+06     147854          40.015397
4    5            Chamartín     5.993577e+06     147551          40.620376
5    6               Tetuán     4.314915e+06     161313          26.748709
6    7             Chamberí     5.289692e+06     140866          37.551231
7    8  Fuencarral-El Pardo     7.216938e+06     249973          28.870871
8    9      Moncloa-Aravaca     4.579103e+06     121683          37.631412
9   10               Latina     4.921109e+06     242139          20.323486
10  11          Carabanchel     4.849436e+06     260196          18.637625
11  12                Usera     2.502717e+06     142894          17.514501
12  13   Puente de Vallecas     4.042171e+06     240867          16.781757
13  14            Moratalaz     2.188513e+06      95614          22.889042
14  15        Ciudad Lineal     5.564778e+06     219867          25.309747
15  16            Hortaleza     6.082844e+06     193264          31.474273
16  17           Villaverde     2.617583e+06     154318          16.962268
17  18    Villa de Vallecas     2.581552e+06     114512          22.543945
18  19            Vicálvaro     1.635249e+06      74048          22.083631
19  20             San Blas     3.713099e+06     161222          23.030968
20  21              Barajas     1.612045e+06      50010          32.234463

In [78]:
df_dist.to_csv("./data/distritos.csv")